h1 {
font-family: 'Lucida Sans Unicode';
font-style: normal;
color: black;
margin-bottom: 0;
height: 37px;
}

body {
background-image: url("http://i1308.photobucket.com/albums/s602/dizzygrl/website_zpshw23gtef.jpg"
);
background-size: 100% 100%;
background-repeat: no-repeat;
color: white;
font-family: 'Helvetica';
font-style: normal;
}

#nav1 {
list-style-type: none;
float: left;
padding: 4;
width: 15%;
margin-left: 510px;
margin-bottom: 10px;
margin-right: 0

}

#nav1 li {
float: left;
color: black;
font-family: 'Helvetica';
font-weight: bold;
}

#nav2 {
list-style-type: none;
float: middle;
padding: 4;
width: 15%;
margin-left: 760px;
padding-right: 10

}

#nav2 li {
float: left;
color: black;
font-family: 'Helvetica';
font-weight: bold;
}

